.logo img{
    max-width: 180px;
}
.Main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
.mainMenu{

}
.mainMenu a{
    color: var(--gray);
    display: inline-block;
    padding: 10px 20px;
}